<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        #topNubex {
            position: fixed;
            right: 350px;
            bottom: 100px;
            font-size: 50px;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#topNubex').fadeIn();
                } else {
                    $('#topNubex').fadeOut();
                }
            });
            $('#topNubex').click(function () {
                $('body,html').animate({scrollTop: 0}, 700);
            });
        });
    </script>
</head>
<body>
<header class="site-header sticky-top py-1 bg-white">
    <nav class="container d-flex flex-column flex-md-row justify-content-between ">
        <a class="py-2" href="/" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto"
                 viewBox="0 0 24 24"><title>Инвентаризация</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/">Главная</a>

        <form class="py-2 d-flex align-items-center" method="GET">
            <input name="q" value="{{ request.args.get('q','') }}" class="form-control me-2" type="search"
                   placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success mx-2" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <form action="/create-article" method="post" class="py-2">
            <button class="btn btn-success" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
        </form>
    </nav>
</header>
{% block body %}{% endblock %}
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                 viewBox="0 0 24 24"><title>Product</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
            </svg>
            <small class="d-block mb-3 text-muted">2021</small>
        </div>

    </div>
</footer>
</body>
</html>