{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block body %}


<div class="container">
    <h1>Добавление пользователя</h1>
   <form action="/inventory/{{ article.id }}/{{ equipment.id }}/newuser/{{ equipment.id-1 }}" method="POST">
        <input type="text" name="Title" id="Title" class="form-control" required placeholder="ФИО"><br>
        <input name="Intro" id="Intro" class="form-control" placeholder="Отдел(необязательно)"><br>

        <div class="d-flex flex-nowrap">
            <div class="col p-0"><input type="text" name="eq_id" id="eq_id" class="form-control" placeholder="Инвентарь"></div>
            <div class="col-1 p-0"><input name="col_id" id="col" class="form-control" placeholder="Кол."></div>
            <div class="col"><a href="/inventory/{{ article.id }}/{{ equipment.id }}/deleteeq" class="btn btn-success">Удалить</a>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Добавить</button>

    </form>
</div>
{% endblock %}