{% extends 'base.html' %}

{% block title %}
Все сотрудники
{% endblock %}

{% block body %}
<div class="container">
    <h1>Сотрудники компании</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <div class="row">
                <div class="col">
                    <h5>{{ el.title }}</h5>
                </div>
                <div class="col">
                    <p>{{ el.intro }}</p>
                </div>
                <div class="col">
                    <a href="/inventory/{{ el.id }}" class="btn btn-warning">Детально</a>
                    <a href="/inventory/{{ el.id }}/delete" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>Нет сотрудников</p>
    {% endif %}
</div>
{% endblock %}